<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kimlic">

  <uses-feature
    android:name="android.permission.USE_FINGERPRINT"
    android:required="false"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="false"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:name=".KimlicApp"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDSjiySTrfkIkTwZhim9aroVIb7r5_CUlU"/>
    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>
    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="a5f149222cca55fee6eb72b0c20f2347242e97a2"/>

    <service android:name=".firebase.Firebase">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>
    <service android:name=".firebase.MessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <receiver android:name=".notification.KimlicReceiver">
      <intent-filter>
        <action android:name="mock"/>
      </intent-filter>
    </receiver>

    <activity
      android:label="Splash Screen"
      android:name=".splash.SplashScreenActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Passcode"
      android:name=".passcode.PasscodeActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Tutorial"
      android:name=".tutorial.TutorialActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Touch ID"
      android:name=".auth.TouchIdActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Verify"
      android:name=".mnemonic.MnemonicVerifyActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Mnemonic Phrase"
      android:name=".mnemonic.MnemonicPreviewActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:label="Account recovery"
      android:name=".recovery.AccountRecoveryActivity"/>
    <activity
      android:label="Terms &amp; Privacy"
      android:name=".terms.TermsActivity"/>
    <activity
      android:label="SignUp Recovery"
      android:name=".recovery.SignUpRecoveryActivity"/>
    <activity
      android:label="Settings"
      android:name=".settings.SettingsActivity"/>
    <activity
      android:label="Main Stage"
      android:launchMode="singleTask"
      android:name=".stage.StageActivity"/>
    <activity
      android:label="Phone"
      android:name=".phone.PhoneActivity"/>
    <activity
      android:label="Phone Verify"
      android:name=".phone.PhoneVerifyActivity"/>
    <activity
      android:label="Name"
      android:name=".name.NameActivity"/>
    <activity
      android:label="Verify ID document"
      android:launchMode="singleTask"
      android:name=".documents.DocumentVerifyChooseActivity"/>
    <activity
      android:label="Email"
      android:name=".email.EmailActivity"/>
    <activity
      android:label="Email verify"
      android:name=".email.EmailVerifyActivity"/>
    <activity
      android:label="Document Verify"
      android:name=".documents.DocumentVerifyActivity"/>
    <activity
      android:label="Address"
      android:name=".address.AddressActivity"
      android:windowSoftInputMode="adjustResize|adjustPan"/>
    <activity
      android:label="Portrait"
      android:name=".documents.PortraitActivity"/>
    <activity
      android:label="Document verify details"
      android:name=".documents.DocumentDetails"/>
    <activity
      android:label="Bill"
      android:name=".documents.BillActivity"/>
    <activity
      android:label="Scanner"
      android:name=".scanner.ScannerActivity"/>

    <activity
      android:name=".vendors.VendorsActivity"
      android:screenOrientation="sensorPortrait"/>
    <activity
      android:label="Account"
      android:name=".account.AccountActivity"
      android:screenOrientation="sensorPortrait"/>
  </application>

</manifest>